*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    height: 10vh;
    background: rgba(0, 0, 0, .8);
    display: flex;
    align-items: center;
}
nav a{
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    margin: 0 10px;
}
header{
    height: 111vh;
    background-image: url("https://images.pexels.com/photos/268533/pexels-photo-268533.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-position: center;
    text-align: center;
    position: relative;
}

main{
    background:rgba(0, 0, 0, .8) ;
    color: aliceblue;
    font-style: oblique;
    font-size:20px ;
    
}
h3{
    background-color: cadetblue;  
}

html{
    scroll-behavior: smooth;
}
footer{
    background-color: black;
    color: whitesmoke;
    text-align: center;
  

}


.containermate,.containerfisica,.containerquimica{
    display: none;
}






h1{
    color: aliceblue;
}
li{
    color: azure;
}
h4{
    color: azure;
}
h2{
    color: azure;
}
